.sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.sectionHeaderContent * {
    color: var(--colors-primary);
    font-size: 1.2em;
}

.sectionHeaderLine {
    width: 100%;
    height: 2px;
    background-color: var(--colors-primary);
}