.inputSelect {
    padding: 0.5em;
    height: 3em;
    font-family: var(--fonts-family);
    font-weight: 100;
    color: var(--colors-bw-scale-30);
    font-style: italic;
    min-width: 150px;
    width:100%;
    background: var(--colors-background);
    border: none;
    outline: none;
    border-radius: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.inputSelect.borderBottom:not(.disabled) {
    border-bottom: 1px solid var(--colors-primary);
    cursor: pointer;
}

.inputSelect.borderBottom.disabled {
    border-bottom: 1px solid var(--colors-bw-scale-70);
}

.inputSelect[disabled] {
    color: var(--colors-bw-scale-30);
}

.inputSelectLabel {
    font-family: var(--fonts-family);
    font-weight: 400;
    font-size: 0.5em;
    color: var(--colors-primary);
    animation-duration: 1s;
    animation-fill-mode: both;
}
    
.inputSelectLabel.fadeInBottom { 
    transition: opacity 0.5s;
    opacity: 1;
}

.inputSelectLabel.fadeOutBottom { 
    transition: opacity 0.5s;
    opacity: 0;
    pointer-events:none;
}

.inputSelectError {
    font-family: var(--fonts-family);
    font-weight: 100;
    font-size: 0.8em;
    text-align: right;
    color: var(--colors-red);
}