.button {
    font-family: var(--fonts-family);
    font-weight: 400;
    min-width: 100px;
    padding: 1em;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.primary {
    background-color: var(--colors-primary);
    color: var(--colors-primary-text);
}

.secondary {
    background-color: var(--colors-bw-scale-90);
    color: var(--colors-primary-dark);
}

.primary:hover:not([disabled]) {
    color: var(--colors-primary-text);
    background-color: var(--colors-primary-light);
}

.secondary:hover:not([disabled]) {
    color: var(--colors-primary);
    background-color: var(--colors-bw-scale-90);
}

.button[disabled] {
    background-color: var(--colors-bw-scale-90);
    color: var(--colors-bw-scale-70);
    cursor: default;
}