.deletable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.deletableContent {
    flex-shrink: 0;
    flex-grow: 1;
}

.deletableAction {
    padding: 8px;
    cursor: pointer;
}