@font-face {
    font-family: "Cinzel";
    src: url("./fonts/Cinzel-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Caviar Dreams";
    src: url("./fonts/CaviarDreams.ttf") format("truetype");
}

@font-face {
    font-family: "Allura";
    src: url("./fonts/Allura-Regular.ttf") format("truetype");
}