@use '../../../themes/vars.scss' as *;

.settingsBar {
    text-align: right;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--colors-bw-scale-100);
    z-index: 9998;
}

.settingsBarItem {
    color: var(--colors-bw-scale-70);
    margin: 0;
    list-style: none;
    display: inline-block;
    padding: 1em 0.5em 1em 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

@media only screen and (min-width: $breakpoint1) {
    .settingsBar__item.hide-on-mobile {
        display: none;
        visibility: hidden;
    }
}

.settings {
    position: fixed;
    top: var(--page-topbar-height);
    right: 0px;
    background-color: var(--colors-secondary-light-background-transparent);
    border-bottom-left-radius: 6px;
    z-index: 9999;
    max-width: 400px;
    width: 100%;
    animation: showsettings 0.3s ease-out forwards;
    animation-iteration-count: 1;
}


.settings.aHideSettings {
    animation: hidesettings 0.3s ease-out forwards;
    animation-iteration-count: 1;
}

.settings.aSettingsHidden {
    top:0em;
    opacity: 0;
    visibility: hidden;
}

@keyframes hidesettings
{
    from {top:3em; opacity: 1;}
    to {top:0em; opacity: 0;visibility: hidden;}
}

@keyframes showsettings
{
    from {top:0em; opacity: 0;visibility: hidden;}
    to {top:3em; opacity: 1;}
}