.rating {
    border-radius: 4px;
    background-color: var(--colors-bw-scale-100);
    color: var(--colors-bw-scale-20);
    box-shadow:
        0 0 60px 30px var(--colors-bw-scale-100),
        0 0 2px 2px var(--colors-primary), 
        0 0 2px 2px var(--colors-primary-light);
    padding: 0.5em;
    max-width: 7em;
    display: inline-block;
}

.ratingHeadContainer {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
}

.ratingEdit div {
    cursor: pointer;
}

.ratingPercentageWrapper {
    border: 1px solid var(--colors-bw-scale-70);
    border-radius: 4px;
    margin-top: 5px;
    max-width: 5em;
}

.ratingPercentageWrapperPercentage {
    background: rgb(1,94,71);
    background: linear-gradient(90deg, rgba(1,94,71,1) 0%, rgba(9,121,82,1) 35%, rgba(0,176,121,1) 100%);
    height: 1em;
}