.overlay {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--colors-bw-scale-0t);
    display: table;
    z-index: 9999;
}

.overlay  .overlayWindowContentWrapper {
    margin: 0 1em;
    padding: 0.5em 0 1em 0;
}

.overlay .overlayWindowContent {
    max-width: 500px;
    background-color: var(--colors-bw-scale-100);
    margin: 0 auto;
    font-family: var(--fonts-family);
    border-radius: 6px;
    box-shadow: 0 0 3px var(--colors-bw-scale-100);
}

.overlay .overlayWindowNav {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding: 0.5em 0.5em 0 0.5em;
}

.overlay svg {
    cursor: pointer;
    width: 2em;
    height: 2em;
}

.overlay .overlayWindow {
    display: table-cell;
    vertical-align: middle;
}