.definitionList {
    font-family: var(--fonts-family);
    font-weight: 100;
}

.definitionListTitle {
    font-weight: 600;
    color: var(--colors-bw-scale-50);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.definitionListTitleIcon {
    cursor: pointer;
    margin-left: 1em;
}

.definitionListContent {
    margin-inline-start: 40px;
    margin-top: 0.5em;
}

.definitionListContent svg {
    width: 1em;
    height: 1em;
    cursor: pointer;
}