.list {
    margin: 0;
    padding: 0;
}

.listBorder {
    border-bottom: 1px solid var(--colors-bw-scale-30);
}

.linkedList {
    font-family: var(--fonts-family);
    text-decoration: none;
}

.linkedList a:hover {
    text-decoration: underline;
}

.listItem {
    list-style: none;
    margin: 0;
    padding: 0;
}

.listItemContent {
    display: flex;
    align-items: center;
    margin: 1em;
}

.listItemIcon svg {
    height: 1em;
}

.listItemText {
    font-family: var(--fonts-family);
    font-size: 1em;
    margin-left: 10px;
    font-weight: 400;
}