.grid-gap-small {
    gap: var(--page-spaces-small);
}
.grid-gap-medium {
    gap: var(--page-spaces-medium);
}
.grid-gap-large {
    gap: var(--page-spaces-large);
}

.grid-one {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(95%, 100%), 1fr));
}

.grid-one-one {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(45%, 100%), 1fr));
}

.grid-one-one-one {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(30%, 100%), 1fr));
}

.grid-one-one-one-one {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(22%, 100%), 1fr));
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
}