name: Publish library
on:
  push:
    branches: 
    - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with: 
          always-auth: true
          node-version: '24.11.1'
          registry-url: 'https://registry.npmjs.org'
          scope: '@stefanhasenberg'
      - run: yarn
      - run: yarn publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
