name: Raise version
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'New release version'
        required: true
        type: string
jobs:
  update-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          always-auth: true
          node-version: '24.11.1'
          registry-url: 'https://registry.npmjs.org'
          scope: '@stefanhasenberg'
      - run: yarn
      - run: yarn version --new-version $VERSION
        env:
          VERSION: ${{inputs.version}}

